@charset "UTF-8";

html {
    height: 100%;
}


.header-logout {
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    margin-top: 30px;

}

.login-content {
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    margin-top: 50px;
    color: aliceblue;
    position: relative;
}

.login-cover {
    color: aliceblue;
    width: 20%;
    /* 画像の幅に合わせるため */
    padding: 30px 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    /* 半透明の背景。 */
    margin-left: 40%;
    margin-right: 40%;
    height: 350px;
    border-radius: 10px;
}

.register-cover {
    color: aliceblue;
    width: 20%;
    /* 画像の幅に合わせるため */
    padding: 30px 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    /* 半透明の背景。 */
    margin-left: 40%;
    margin-right: 40%;
    height: 530px;
    border-radius: 10px;
}

.add-cover {
    color: aliceblue;
    width: 25%;
    /* 画像の幅に合わせるため */
    padding: 30px 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    /* 半透明の背景。 */
    margin-left: 37%;
    margin-right: 40%;
    height: 330px;
    border-radius: 10px;
}


.login-user {
    /* text-align: left; */
    margin-right: 90px;
}

.login-mail {
    /* text-align: left; */
    margin-right: 70px;
}

.login-password {
    /* text-align: left; */
    margin-right: 100px;
}

.login-password-kakunin {
    /* text-align: left; */
    margin-right: 65px;
}

.login-sinki {
    color: aliceblue;
}

.login-btn {
    margin-left: 90px;
}

.login-content-komoku {
    /* text-align: right; */
}

body {
    height: 100%;
    background: #186AC9;
    background: linear-gradient(#005FFF, yellow);
}
