@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}



.nav-item-user {
    margin: 15px 30px 0 0;
    color: #fff;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.sidebar-confirm {
    margin: 20px;
}

.follow_list {
    text-align: right;
}

.search_list {
    text-align: center;
}



/* アコーディオンメニュー */
.menu-btn {
    border: none;
    width: 60px;
    height: 60px;
    /* position: absolute; */
    /* top: 1px;
    right: 1px; */
    background-color: #186AC9;
    /* outline: initial; */

    /* &:focus-visible {
        box-shadow: 0 0 0 2px blue;
    } */

    .inn {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;

        &:before {
            position: absolute;
            content: "";
            top: 40%;
            left: 50%;
            width: 15px;
            height: 15px;
            transform: translate(-50%, -40%) rotate(135deg);
            border-top: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
            transition: 0.3s ease;
            z-index: 10;
        }
    }
}

.menu-btn.is-open {
    .inn {
        &:before {
            top: 60%;
            transform: translate(-50%, -60%) rotate(-45deg);
        }
    }
}

.menu {
    position: absolute;
    top: 80px;
    right: 0px;
    width: 20%;
    background-color: #fff;
    opacity: 0;
    transition: .3s ease-in-out;
    pointer-events: none;
    transform: translateY(-30px);

    ul {
        border-bottom: 1px solid #000;

        li {
            height: 60px;
            border-top: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.menu-ul {
    padding: 0;
    margin: 0;
    border-left: 1px solid #000;
    margin-top: -5px;
}

ul.menu-ul li {
    transition: background-color 50ms;

    a {
        text-decoration: none;
    }
}

ul.menu-ul li:hover {
    background-color: #000080;
    transition: background-color 1ms;

    a {
        color: azure;
        text-decoration: none;
    }
}

ul.menu-ul a {
    text-decoration: none;
    color: darkgray;

    li {
        transition: background-color 50ms;
    }
}

ul.menu-ul a:hover {
    text-decoration: none;
    color: azure;

    li {
        background-color: blue;
        transition: background-color 1ms;
    }
}


.menu.is-open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* 投稿画面 */
.post {
    /* 左端からの距離 */
    margin-left: 100px;
}

.post-main {
    /* 枠線を消す */
    border: none;
    /* 右下の//(サイズ変更機能)を消す */
    resize: none;
    /* フォーカスした際の青い枠線を消す */
    outline: none;
    width: 500px;

    /* widthを100%にしておくことで、レスポンシブ対応ができます。 */
    /* width: 100%; */
}


.post-img {
    border: none;
    /* 右寄せにする */
    margin-left: 500px;
    background-color: #fff;

}

.post-imges {
    border-radius: 10px;
    margin-top: 50px;
}

.post-content {
    padding: 20px;
    line-height: 50px;
}

.other-text {
    text-align: left;
    margin-right: 0;
}

.post-img-icon {
    text-align: right;
}

.other-btn {
    margin-top: 50px;
}

/* 検索フォーム */
.search_container input[type="text"] {
    border: 1px solid #999;
    padding: 3px 10px;
    border-radius: 3px;
    height: 2.2em;
    overflow: hidden;
    margin-left: 50px;
}

.search_container input[type="text"]:focus {
    outline: 0;
    height: 2.0em;
}

.search_container button[type="submit"] {
    border: none;

}

.search_btn {
    border: none;
    background-color: #fff;
}

.search_img {
    border-radius: 10px;
}

.form-keyword {
    margin-top: 10px;
}

.form-username {
    height: 50px;
    width: 80%;
}

/* 投稿編集 */

.modal {
    display: none;
}

.modal_bg {
    position: fixed;
    /* ブラウザの定位置に固定 */
    background: rgba(0, 0, 0, .5);
    /* 背景色を半透明の黒色に */
    width: 100%;
    /* 要素の横幅を画面全体に */
    height: 100%;
    /* 要素の高さを画面全体に */
    top: 0;
    /* 要素の固定位置をブラウザ最上部に合わせる */
    left: 0;
    /* 要素の固定位置をブラウザ左側に合わせる */
    z-index: 2;
    /* 要素をコンテンツより前面に（要調整） */
}

.modal_content {
    display: inline-block;
    position: fixed;
    width: 75%;
    z-index: 2;
    background: #fff;
    padding: 2%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    border-radius: 30px;
}

.modal_post {
    width: 100%;
    /* 要素の横幅を画面全体に */
    height: 100%;
    /* 要素の高さを画面全体に */
    top: 0;
    /* 要素の固定位置をブラウザ最上部に合わせる */
    left: 0;
    /* 要素の固定位置をブラウザ左側に合わせる */
    z-index: 2;
    /* 要素をコンテンツより前面に（要調整） */
}

.modal_img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
    margin: auto;
    background-color: #fff;
    border: none;
}

.tr_btn {
    text-align: left;
}

/* 削除ボタン */
/* .btn-danger {
    background: url("./images/trash.png") no-repeat;
}

.btn-danger a {

    background: url("./images/trash.png") no-repeat;
    display: block;
}


.btn-danger a:hover {
    background-image: url("./images/trash.png");
} */

/* プロフィール */
.profile-ichiran {
    margin: 50px;
    /* margin-left: 60px; */
}

.profile-img {
    text-align: right;
}
