@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* アコーディオンメニュー */
.menu-btn {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: #fff;
    outline: initial;

    &:focus-visible {
        box-shadow: 0 0 0 2px blue;
    }

    .inn {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;

        &:before {
            position: absolute;
            content: "";
            top: 40%;
            left: 50%;
            width: 15px;
            height: 15px;
            transform: translate(-50%, -40%) rotate(135deg);
            border-top: 1px solid #000;
            border-right: 1px solid #000;
            transition: 0.3s ease;
            z-index: 10;
        }
    }
}

.menu-btn.is-open {
    .inn {
        &:before {
            top: 60%;
            transform: translate(-50%, -60%) rotate(-45deg);
        }
    }
}

.menu {
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    transition: .3s ease-in-out;
    pointer-events: none;
    transform: translateY(-30px);


    ul {
        border-bottom: 1px solid #000;

        li {
            height: 60px;
            border-top: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.menu.is-open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* 投稿画面 */
.post {
    /* 左端からの距離 */
    margin-left: 100px;
}

.post-main {
    /* 枠線を消す */
    border: none;
    /* 右下の//(サイズ変更機能)を消す */
    resize: none;
    /* フォーカスした際の青い枠線を消す */
    outline: none;
    width: 500px;

    /* widthを100%にしておくことで、レスポンシブ対応ができます。 */
    /* width: 100%; */
}

.post-img {
    border: none;
    /* 右寄せにする */
    margin-left: 500px;
}

.post-content {
    padding: 20px;
    line-height: 50px;
}

/* 検索フォーム */
.search_container input[type="text"] {
    border: 1px solid #999;
    padding: 3px 10px;
    border-radius: 3px;
    height: 2.2em;
    overflow: hidden;
    margin-left: 50px;
}

.search_container input[type="text"]:focus {
    outline: 0;
    height: 2.0em;
}

.search_container button[type="submit"] {
    border: none;

}

/* 投稿編集 */
.modal_content {
    display: flex;
}
